
{% extends "authentication/base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="uid" value="{{ uid }}">
    <input type="hidden" name="token" value="{{ token }}">
    <label for="password">Enter new password:</label>
    <input type="password" name="password" id="password" class="form-control" required>
    <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
</form>
{% else %}
<p>The link is invalid or has expired.</p>
{% endif %}

{% endblock %}
