{% extends 'authentication/base.html' %}

{% block content %}
        <div id="main">
            {% if messages %}
            {% for message in messages %}
            <div>
                {{ message}}
            </div>
            {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                    <!-- {{ form.as_p }} -->
                    <p>Full Name:{{ form.full_name }}</p>

                    <p>Email:{{ form.email }}</p>  
                      
                    <p>Password:{{ form.password1 }}</p>
                      
                    <p>Confirm Password:{{ form.password2 }}</p>
                      
                <button type="submit">Submit</button>
            </form>
            <br/>
            <p>Already a have account?</p>
            <button><a href="{% url 'login' %}">Login</a></button>
        </div>
        {% if messages %}
            {% for i in messages %}
            <p>{{ i }}</p>
            {% endfor %}
        {% endif %}    
{% endblock %}
    